/* Global styles */
body {
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.page-wrapper {
  background-color: #f2f2f2;
}

.features-section {
  display: grid;
  grid-template-rows: repeat(autofit, minmax(750px, 1fr));
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f2f2f2;
}

.features-section .header {
  font-size: 3rem;
  margin-bottom: 60px;
  text-align: center;
}

.card-section {
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-bottom: 50px;
}

@media (max-width: 970px) {
  .card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 550px) {
  .card-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: 0.5s ease-out;
  overflow: visible;
  background-color: #007bff;
  border-color: #313131;
  box-shadow: 0 4px 18px 0 rgba(112, 112, 112, 0.25);
}

.card-details {
  display: grid;
  grid-template-rows: 1/4fr 1/2fr 1fr;
  text-align: center;
  row-gap: 10px;
  color: #f2f2f2;
}

.card-details .icon {
  padding-top: 5px;
  font-size: 1.5rem;
}

.card-details h3 {
  padding-top: 5;
}

.card-details p {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.125rem;
}

.card:hover {
  border-color: #313131;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.25);
}

.plans-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #f2f2f2;
  color: #313131;
  padding: 10px 0;
}

.plans-section h2 {
  font-size: 3rem;
  margin-bottom: 60px;
  text-align: center;
}

.plan-box {
  position: relative;
  text-align: center;
  width: 300px;
  height: 400px;
  background-color: #ffffff41;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan-box:hover {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.plan-box.popular::before {
  content: "Popular";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 20px;
}

.plan-box h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.plan-box .price {
  margin-bottom: 20px;
}

.plan-box .currency {
  font-size: 1.5rem;
  font-weight: bold;
}

.plan-box .amount {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan-box .period {
  font-size: 1.5rem;
  font-weight: bold;
}

.plan-box ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-box ul li {
  font-size: 1.125rem;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .plans-section {
    padding: 40px 0;
  }

  .plan-box {
    width: 80%;
    margin: 20px;
    height: auto;
    min-height: 400px;
  }

  .plan-box h3 {
    font-size: 1.5rem;
  }

  .plan-box .amount {
    font-size: 2rem;
  }

  .plan-box .period {
    font-size: 1.2rem;
  }
}

.contact-section {
  display: grid;
  grid-template-areas:
    "header header"
    "form info";
  grid-template-rows: 1/2fr;
  grid-template-columns: repeat(autofit, minmax(250px, 1fr));
  column-gap: 20px;
  color: rgb(0, 0, 0);
  padding: 20px 70px;
  background-color: #f1f1f1;
  margin: 20px;
}

.contact-section h2 {
  color: #313131;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.contact-header {
  grid-area: header;
  place-items: center;
}

.contact-form {
  grid-area: form;
  padding: 30px;
  border-radius: 2px;
  background-color: #f2f2f2;
  color: #313131;
}

.contact-info {
  grid-area: info;
  width: 50%;
  height: 75%;
  padding: 30px;
  justify-self: center;
  align-self: center;
  max-width: 80%;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1.125rem;
}

.contact-info i {
  color: #313131;
}

.carousel-item.active,
.item {
  position: relative;
  height: 32rem;
  background-color: #313131;
}

.carousel-container {
  color: white;
  position: absolute;
  margin-left: 25%;
  margin-top: 10%;
  z-index: 2;
}

@media (max-width: 767px) {
  .carousel-container {
    color: white;
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
    z-index: 2;
  }
}

.carousel-video {
  position: absolute;
  filter: brightness(70%);
  width: 100%;
  transform: translateY(-40%);
  z-index: 1;
}

.footer-section {
  background-color: #313131;
  color: #f2f2f2;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
