<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= video_tag "kingston1.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "carousel-video" %>
      <div class="carousel-container">
        <h1>Fast and Reliable Internet Service</h1>
        <p>Gigabit Fiber from $99/mo on Kitsap Public Utility Districts's Network with local support.</p>
        <a href="#pricing" class="btn btn-primary">View Plans</a>
      </div>
    </div>
    <div class="carousel-item">
      <%= video_tag "tanner-building.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "carousel-video" %>
      <div class="carousel-container">
        <h1>Affordable High-Speed Internet</h1>
        <p>Enjoy lightning-fast internet speeds starting at just $49.99/mo with no hidden fees or contracts.</p>
        <a href="#pricing" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="carousel-item">
      <%= video_tag "kingston2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "carousel-video" %>
      <div class="carousel-container">
        <h1>Unbeatable Reliability</h1>
        <p>Stay connected with 99.9% uptime guarantee and 24/7 technical support.</p>
        <a href="#pricing" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </div>
</div>